$background-principal:#FAAB78;
$tamano-font:1rem;
$color-font:black;
$style-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$negrita:bold;