#body_co{height: 250vh;
background-color: $background-principal;
overflow-x: hidden;}
#main_co{height: 220vh;
  background-color: $background-principal;
    div{
      div{.card-img-top {
        border: solid 3px;
      }
          .card{
            border: none;
            background-color: $background-principal;
          }
        img{height: 600px;
}
}
}
}

